:root {
  --green: #628e75;
  --white: #f9f9f9;
  /* Gradient */

  --light: #628e75;
  --dark: #1a4855;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, var(--light), var(--dark));
  height: calc(100vh - 2.563rem);
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 100%;
  }
  body {
    height: auto;
  }
}

@media (min-height: 650px){
  body {
    height: calc(100vh - 0.9rem);
  }
}
